/*
Uses logical values instead of physical values:
top: block-start
right: inline-end
bottom: block-end
left: inline-start

width: inline-size
height: block-size
*/

/* reset CSS*/
html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid black;
}

th,
td {
    border: 1px solid black;
}
