<!DOCTYPE html>
<html lang="en-US">

    <head>
        <meta charset="utf-8">
        <meta name="author" content="angel">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="../../misc/reset.css">
        <link rel="stylesheet" href="../../misc/login.css">
        <title>Login</title>
    </head>

    <body>
        
        <header>
            <h1>school page</h1>
            <ul>
                <li><a href="login.html">login</a></li>
                <li><a href="sign-up">sign up</a></li>
            </ul>
        </header>

        <main>
            <form action="/login" method="post">
                <h2>login</h2>
                <ul>
                    <li>
                        <label for="username">username: </label>
                        <input type="text" id="username" name="username" required>
                    </li>
                    <li>
                        <label for="userpass">password: </label>
                        <input type="password" id="userpass" name="userpass" required>
                    </li>
                    <li>
                        <button type="submit">submit</button>
                    </li>
                </ul>
            </form>
        </main>
        
    </body>
</html>